/* 
 * Icon utility: This will be moved to the component when vite-icons can be used dynamically
 * TODO: remove with update to vite-icons 
 */
.icon {
  width: var(--icon-container-size, 1.5rem);
  height: var(--icon-container-size, 1.5rem);
  margin: var(--icon-margin, 0);
  font-size: var(--icon-size, 1.5rem);
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Print Utilities */

/* 
 * Removes the browser default of displaying title, url, date and page number in the header and footer
 * of the printed page.
 * Unfortunately, Safari does not support this out of the box (power users can enable it).
 * Users will need to select the "No Headers & Footers" print option in Safari to achieve the same effect.
 */
@page {
  size: auto;
  margin: 0;
}

.print-only {
  display: none;
}

@media print {
  .print-only {
    display: inherit;
  }

  .not-for-print {
    display: none;
  }
}

